<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ./partials/_head_bootstrap %>
    <title>New URL - TinyApp v.kacsokz</title>
  </head>

  <body>
    <head>
      <% include ./partials/_header %>
    </head>
    <main style="margin: 1em;">
      <h3>Create TinyURL</h3>
      <form class="form-inline" action="/urls" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Enter a URL:</label>
          <input class="form-control" type="url" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </main>
    <% include ./partials/_body_bootstrap %>
  </body>
</html>